@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

:root {
    --main-font: 'Roboto'
    --second-font: 'Lobster'
}

/* HEADER ELEMENTS */

header {
    width: 60rem;
    padding-top: 40px;
}

header h1 {
    font-size: 7.8rem;
    line-height: 0.9;
    font-family: var(--main-font)
}

header h2 {
    font-size: 5rem;
    color: #636262;
    transform: rotate(-7deg);
    margin-left: 42%;
    margin-top: -20px;
    font-weight: 900;
    font-family: var(--main-font)
}

#project-description {
    font-size: 2.3rem;
    font-family: var(--main-font);
    line-height: 1.4;
    max-width: 39ch;
    color: rgb(100, 100, 100);
    padding-block: 4rem;
}

/* FORM */

form fieldset {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    border: none;
    background-color: #E9E9E9;
    border-radius: 10px;
    max-width: 45rem;
    align-items: center;
    padding: 4rem 2rem;
    height: 44rem;
}

form fieldset legend {
    font-size: 4rem;
    font-family: 'Lobster';
    margin-left: 1rem;
}

form fieldset input {
    border: 2px solid rgb(120, 120, 120);
    border-radius: 5px;
    height: 5.8rem;
    width: 30rem;
    padding-inline: 1.2rem;
    font-size: 2rem;
    background-color: inherit;
}

form fieldset input:not(:placeholder-shown) {
    border-color: red;
}

form fieldset input:valid {
    border-color: rgb(0, 128, 0);
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(-2px, -2px)
    }

    50% {
        transform: translate(2px, 2px)
    }

    75% {
        transform: translate(-2px, -2px)
    }

    100% {
        transform: translate(2px, 2px)
    }
}

form fieldset input::-webkit-input-placeholder {
    font-weight: bold;
}

form fieldset button {
    width: 23rem;
    padding-block: 1.2rem;
    border: none;
    border-radius: 3px;
    background-color: rgb(80, 80, 80);
    box-shadow: 0px 0px 3px rgb(80, 80, 80);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    font-family: var(--main-font);
    cursor: pointer;
    margin-top: 1rem;
    transition-duration: 0.25s;
}

form fieldset button:hover {
    background-color: rgb(100, 100, 100)
}

form fieldset button:active {
    background-color: rgb(110, 110, 110)
}

/* BACKGROUND */

#top-right-circle, #bottom-circle {
    position: absolute;
    border-radius: 50%;
}

#top-right-circle {
    width: 1150px;
    height: 1250px;
    background-size: cover;
    background-image: url(flying-cars-pre-order.jpg);
    right: -100px;
    top: -550px;
    filter: saturate(0.10);
    transform: rotate(-35deg);
}

#bottom-circle {
    width: 600px;
    height: 600px;
    background-color: red;
    right: 401px;
    top: 753px;
    background-color: rgb(217, 217, 217);
}

/* MARGIN LEFT FOR ALL TEXT ELEMENTS */

header, #project-description, form fieldset {
    margin-left: 6.5%;
}

/* RESPONSIVE SETTINGS */

@media only screen and (max-width: 1750px) {
    #top-right-circle {
        width: 1000px;
        height: 1000px;
        right: -220px;
        top: -400px;
    }

    #bottom-circle {
        right: 220px;
    }

    header, #project-description, form fieldset {
        margin-left: 8%;
    }
}

@media only screen and (max-width: 1450px) {
    #top-right-circle {
        width: 900px;
        height: 900px;
    }

    #bottom-circle {
        right: 14rem;
    }
}

@media only screen and (max-width: 1350px) {
    #top-right-circle {
        width: 800px;
        height: 800px;
    }

    #bottom-circle {
        width: 500px;
        height: 500px;
        right: 120px;
    }
}

@media only screen and (max-width: 1200px) {
    #top-right-circle {
        width: 600px;
        height: 600px;
        right: -120px;
        top: -250px;
    }

    #bottom-circle {
        width: 450px;
        height: 450px;
    }
}

@media only screen and (max-width: 1100px) {
    html {
        font-size: 9px;
    }

    header {
        padding-top: 10rem;
    }

    #top-right-circle {
        width: 500px;
        height: 500px;
        right: -110px;
        top: -220px;
    }

    #bottom-circle {
        right: 40px;
    }
}

@media only screen and (max-width: 950px) {
    html {
        font-size: 8.5px;
    }

    header {
        padding-top: 110px;
    }

    #top-right-circle {
        width: 400px;
        height: 400px;
        right: -80px;
        top: -180px;
    }

    #bottom-circle {
        width: 350px;
        height: 350px;
        top: 820px; 
    }
}

@media only screen and (max-width: 810px) {
    html {
        font-size: 7px;
    }

    header {
        padding-top: 200px;
    }

    #bottom-circle {
        right: -80px;
        top: 780px;
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 6.5px;
    }

    header {
        padding-top: 230px;
    }
}

@media only screen and (max-width: 385px) {
    body {
        padding-inline: 2.5rem;
    }

    header h2 {
        margin-left: 20%;
        margin-top: -10px;
        transform: rotate(-4deg)  
    }

    #top-right-circle {
        border-radius: unset;
        transform: translate(-10px, 120px);
        left: 0;
        height: 250px;
    }

    #bottom-circle {
        left: 0;
        border-radius: unset;
        transform: translateY(50px)
    }

    header {
        margin: 0;
        text-align: center;
        width: 100%;
        padding-top: 220px;
    }

    #project-description {
        margin-inline: auto;
        padding-inline: unset;
        max-width: 32ch;
    }

    form fieldset {
        margin-inline: auto;
    }
}